<div class="container">
  <div class="row">
    <% @projects.each do |project| %>
      <div class="col-md-3 project-block">
        <%= link_to project do %>
          <% if !project.image.blank? %>
            <%= image_tag project.image, style: 'width:100%;' %>
          <% else %>
            <%= image_tag('no-image.png', style: 'width:100%;') %>
          <% end %>
          <div class="block-title" style="color: black;">
            <%= project.title %> <br>
            <%= project.description %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>