<div align="center">
  <%= @project.title %>
  <%= @project.user_id %> <br>
  <%= @project.target_amount_of_money %> <br>
  <%= @project.current_amount_of_money %> <br>
  <%= @project.description %> <br>
</div>