<div class="container">
  <div class="user-header">
    <div class="header-image">
      <% if @user.background_image? %>
        <%= image_tag @user.background_image %>
      <% else %>
        <%= image_tag 'no-image.png' %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div style="text-align: center;">
        <div class="profile-image"><%= image_tag(@user.image) %></div>
        <h4><%= @user.fullname %></h4>
        <div>"<%= @user.motto %>"</div>
        <div><%= fa_icon "home" %> <%= @user.place %></div>
        <div><%= fa_icon "graduation-cap" %> <%= @user.school %></div> <br>
        <div class="sns-links">
          <%= link_to @user.twitter_url do %><%= fa_icon "twitter" %>&nbsp;&nbsp;<% end %>
          <%= link_to @user.facebook_url do %><%= fa_icon "facebook" %>&nbsp;&nbsp;<% end %>
          <%= link_to @user.github_url do %><%= fa_icon "github" %><% end %>
        </div> <br>
        <% if user_signed_in? %>
          <%= link_to '編集する', edit_user_path %>
        <% end %>
      </div>
    </div>
    <div class="col-md-8">
      <div class="user-block">
        <h5>自己紹介</h5>
        <div><%= simple_format(@user.description) %></div>
      </div>
      <div class="user-block">
        <h5>掲載中のプロジェクト</h5>
        <div class="row">
          <% @user.projects.each do |project| %>
            <div class="col-md-3 project-block">
              <%= link_to project do %>
                <% if !project.image.blank? %>
                  <%= image_tag project.image, style: 'width:100%;' %>
                <% else %>
                  <%= image_tag('no-image.png', style: 'width:100%;') %>
                <% end %>
                <div class="block-title" style="color: black;">
                  <%= project.title %> <br>
                  <%= truncate(project.description) %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="user-block">
        <h5>現在きている融資依頼</h5>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Amount</th>
              <th scope="col">Project</th>
              <th scope="col">Company</th>
              <th scope="col">Status</th>
              <th scope="col">Message</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <% @user.projects.each do |project| %>
              <% project.applies.each do |apply| %>
                <tr>
                  <th scope="row">1</th>
                  <td>¥ <%= apply.amount_of_money %></td>
                  <td><%= link_to apply.project do %><%= apply.project.title %><% end %></td>
                  <td><%= link_to apply.company do %><%= apply.company.company_name %><% end %></td>
                  <td><%= apply.status %></td>
                  <td>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever=<%= apply.message %> >
                      確認
                    </button>
                  </td>
                  <td>
                    <% if apply.status == 'apply' %>
                      <%= link_to '受諾', apply_status_change_path(id: apply.id) , class: 'btn btn-primary' %>
                    <% elsif apply.status == 'success' %>
                      受諾済み
                    <% else %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sample</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="form-group">
        <div class="modal-body">
          <div class="modal-message"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->

</div>

<script>
$('#exampleModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget)
  var username = button.data('whatever')

  //Ajaxの処理はここに

  var modal = $(this)
  modal.find('.modal-message').text(username)
})
</script>