<div class="container">
  <div class="company-header">
    <div class="header-image">
      <% if @company.image? %>
        <%= image_tag @company.image_url(:thumb) %>
      <% end %>
    </div>
  </div>
  <%= link_to '編集する', edit_company_path %> <br>
  <div class="row">
    <div class="col-sm-12 company-header">
      <div style="font-size: 28px;">
        <%= @company.company_name %>
      </div>
      <div class="company-url" style="font-size: 14px;">
        <%= link_to @company.url %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="company-block">
        <h5>こんにちは。<%= @company.company_name %>です。</h5>
        <%= @company.description %>
      </div>
      <div class="company-block">
        <h5>投資先のプロジェクト</h5>
        <div class="row">
          
          <% @company.applies.each do |apply| %>
            <div class="col-md-3 project-block">
              <%= link_to apply.project do %>

              <div class="block-title" style="color: black;">
                <% if !apply.project.image.blank? %>
                  <%= image_tag apply.project.image, style: 'width:100%;' %>
                <% else %>
                  <%= image_tag('no-image.png', style: 'width:100%;') %>
                <% end %>
                <%= apply.project.title %>
                <%= truncate(apply.project.description) %>
              </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="company-index">Portfolio</div>
      <div>
        <%= pie_chart @portfolio_chart %>
      </div>
    </div>
  </div>
</div>