<div>
  <ul>
    <% if !user_signed_in? %>
      <li><%= link_to "サインアップ", new_user_registration_path %></li>
      <li><%= link_to "ログイン", new_user_session_path %></li>
      <li><%= link_to 'facebookアカウントでログイン', user_facebook_omniauth_authorize_path %></li>
    <% else %>
      <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
    <% end %>
      <li><%= link_to "マイページ", current_user %></li>
      <li><%= link_to "プロジェクト", project_index_path %></li>
  </ul>
</div>